/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------*/

body {
    font-family: Arial;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin: 1em 0 0.5em;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.75rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}

p {
    margin: 1em 0;
}


.header {
    padding: 80px;
    text-align: center;
    background: gray url("../img/cosmic.jpg") no-repeat center;
    background-size: cover;
    background-color: #cccccc;
    color: white;
}
 

.header h1 {
    font-size: 40px;
}
 

.navbar {
    overflow: hidden;
    background-color: #333;
}
 

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
 

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
 

.row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}
 

.side {
    background-color: #f1f1f1;
    padding: 20px;
}
 

.main {   
    background-color: white;
    padding: 20px;
}


.logo {
    height: 200px;
    background: url("../img/SSLOGO-PS.png") no-repeat center center;
    background-size: 180px 200px
}

.logo:hover {
    transform: scale(1.5) rotate(-360deg);
    transition: 1.5s;
}

.img1 {
    height: 400px;
    background: gray url("../img/img1.jpg")  no-repeat center center;
}
.img2 {
    height: 400px;
    background: gray url("../img/img2.jpeg") no-repeat center center;

}
.F {
    height: 180px;
    background: gray url("../img/F.png") no-repeat center center;
    background-size: 180px 180px
}
.I {
    height: 180px;
    background: gray url("../img/I.png") no-repeat center center;
    background-size: 180px 180px
}
.T {
    height: 180px;
    background: gray url("../img/T.png") no-repeat center center;
    background-size: 180px 180px
}

form input,
form textarea {
   display: block;
   width: 100%;
   margin-bottom: 1rem;
   padding: .5rem 1rem;
}

form textarea {
   min-height: 150px;
   max-height: 150px;
   height: 150px;
   resize: none;
}

form button {
   background: none;
   border: 2px solid black;
   padding: 1rem;
   text-transform: uppercase;
}

.gfboxes {
    margin: 100px;
}

.about,
.contact-section {
    margin: 10px;
}

.picture {
    text-align: center
}

/* F&G */

.boxes {
    border: 2px solid #222;
    border-radius: 8px;
    padding: 2rem;
}
  
.boxes h2 {
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #ccc;
}
  

/* grid */


.gfboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
  }
  
div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}
  
div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}
  
div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
}
  
div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}
  
  
/* flax */
  
  
.gfbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/*footer*/
.footer {
    margin: 10px;
    text-align: left;
}
 
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}